<div class="container">
  <mat-card>
    <form [formGroup]="insertCurrencyForm" (ngSubmit)="onSubmit()">
      <mat-card-content>
        <div class="layout-column">
          <mat-form-field>
            <mat-label>Currency Code</mat-label>
            <input matInput required formControlName="currencyCode" minlength="3" maxlength="3" />
            @if (isCurrencyCodeValid()) {
              <mat-error>
                {{ 'labels.inputs.Currency Code' | translate }} {{ 'labels.commons.is' | translate }}
                <strong>{{ 'labels.commons.required' | translate }}</strong>
              </mat-error>
            }
            @if (insertCurrencyForm.controls.currencyCode.hasError('minlength')) {
              <mat-error>
                {{ 'minLength' | translate }} {{ 'labels.commons.is' | translate }}
                <strong>{{ 'labels.commons.required' | translate }}</strong>
              </mat-error>
            }
          </mat-form-field>

          <mat-form-field>
            <mat-label>Currency Name</mat-label>
            <input matInput required formControlName="currencyName" />
            <mat-error *ngIf="insertCurrencyForm.controls.currencyCode.hasError('required')">
              {{ 'labels.inputs.Currency Name' | translate }} {{ 'labels.commons.is' | translate }}
              <strong>{{ 'labels.commons.required' | translate }}</strong>
            </mat-error>
            <mat-error *ngIf="insertCurrencyForm.controls.currencyCode.hasError('pattern')">
              {{ 'labels.inputs.Currency Name' | translate }} <strong>{{ 'labels.inputs.cannot' | translate }}</strong>
              {{ 'labels.inputs.begin with a special character or number' | translate }}
            </mat-error>
          </mat-form-field>

          <mat-form-field>
            <mat-label>Decimal Places</mat-label>
            <mat-select id="decimalPlaces" name="decimalPlaces" matInput required formControlName="decimalPlaces">
              <mat-option value="0">0</mat-option>
              <mat-option value="1">1</mat-option>
              <mat-option value="2">2</mat-option>
              <mat-option value="3">3</mat-option>
            </mat-select>
            <mat-error *ngIf="insertCurrencyForm.controls.currencyCode.hasError('required')">
              {{ 'labels.inputs.Currency Name' | translate }} {{ 'labels.commons.is' | translate }}
              <strong>{{ 'labels.commons.required' | translate }}</strong>
            </mat-error>
            <mat-error *ngIf="insertCurrencyForm.controls.currencyCode.hasError('pattern')">
              {{ 'labels.inputs.Currency Name' | translate }} <strong>{{ 'labels.inputs.cannot' | translate }}</strong>
              {{ 'labels.inputs.begin with a special character or number' | translate }}
            </mat-error>
          </mat-form-field>

          <mat-form-field>
            <mat-label>In Multiples Of (sub-units)</mat-label>
            <input type="number" matInput required formControlName="inMultiplesOf" min="0.001" max="1" />
            <mat-error *ngIf="insertCurrencyForm.controls.currencyCode.hasError('required')">
              {{ 'labels.inputs.Currency Name' | translate }} {{ 'labels.commons.is' | translate }}
              <strong>{{ 'labels.commons.required' | translate }}</strong>
            </mat-error>
            <mat-error *ngIf="insertCurrencyForm.controls.currencyCode.hasError('pattern')">
              {{ 'labels.inputs.Currency Name' | translate }} <strong>{{ 'labels.inputs.cannot' | translate }}</strong>
              {{ 'labels.inputs.begin with a special character or number' | translate }}
            </mat-error>
          </mat-form-field>

          <mat-form-field>
            <mat-label>Display Symbol</mat-label>
            <input matInput required formControlName="displaySymbol" />
            <mat-error *ngIf="insertCurrencyForm.controls.currencyCode.hasError('required')">
              {{ 'labels.inputs.Currency Name' | translate }} {{ 'labels.commons.is' | translate }}
              <strong>{{ 'labels.commons.required' | translate }}</strong>
            </mat-error>
            <mat-error *ngIf="insertCurrencyForm.controls.currencyCode.hasError('pattern')">
              {{ 'labels.inputs.Currency Name' | translate }} <strong>{{ 'labels.inputs.cannot' | translate }}</strong>
              {{ 'labels.inputs.begin with a special character or number' | translate }}
            </mat-error>
          </mat-form-field>

          <mat-form-field>
            <mat-label>Name Code</mat-label>
            <input matInput required formControlName="nameCode" readonly />
            <mat-error *ngIf="insertCurrencyForm.controls.currencyCode.hasError('required')">
              {{ 'labels.inputs.Currency Name' | translate }} {{ 'labels.commons.is' | translate }}
              <strong>{{ 'labels.commons.required' | translate }}</strong>
            </mat-error>
            <mat-error *ngIf="insertCurrencyForm.controls.currencyCode.hasError('pattern')">
              {{ 'labels.inputs.Currency Name' | translate }} <strong>{{ 'labels.inputs.cannot' | translate }}</strong>
              {{ 'labels.inputs.begin with a special character or number' | translate }}
            </mat-error>
          </mat-form-field>
        </div>
      </mat-card-content>

      <mat-card-actions class="layout-row align-center gap-5px responsive-column">
        <button type="button" mat-raised-button [routerLink]="['../']">
          {{ 'labels.buttons.Cancel' | translate }}
        </button>
        <button mat-raised-button color="primary" *mifosxHasPermission="'CREATE_STAFF'">
          {{ 'labels.buttons.Submit' | translate }}
        </button>
      </mat-card-actions>
    </form>
  </mat-card>
</div>

<ng-template let-popover="popover">
  <h2>{{ 'labels.heading.Create Employee' | translate }}</h2>
  <p class="mw400">
    {{ 'labels.text.Start filling the details' | translate }} <br />
    {{ 'labels.text.For more details click' | translate }}:
    <a href="https://mifosforge.jira.com/wiki/spaces/docs/pages/67141732/Manage+Employees" target="_blank">{{
      'labels.inputs.Manage Employees' | translate
    }}</a>
  </p>
  <div class="layout-row align-end gap-2px responsive-column">
    <button mat-raised-button color="warn" (click)="popover.close(); configurationWizardService.closeConfigWizard()">
      {{ 'labels.buttons.Close' | translate }}
    </button>
    <button mat-raised-button color="primary" (click)="popover.close()">
      {{ 'labels.buttons.Create Employee' | translate }}
    </button>
    <button mat-raised-button color="primary" (click)="popover.close(); previousStep()">
      {{ 'labels.buttons.Back' | translate }}
    </button>
    <button mat-raised-button color="primary" (click)="popover.close(); nextStep()">
      {{ 'labels.buttons.Next' | translate }}
    </button>
  </div>
</ng-template>
